:root
    --dark #222
    --dark-alt #333
    --light #eee
    --light-alt #ccc

    @media (prefers-color-scheme dark)
        --dark #eee
        --dark-alt #ccc
        --light #222
        --light-alt #333

dark = var(--dark)
dark-alt = var(--dark-alt)
light = var(--light)
light-alt = var(--light-alt)

*
    outline none
    box-sizing border-box
    transition-duration 75ms

    &:focus
        outline none

::placeholder
    color dark-alt

::selection
    background-color light-alt

body
    margin 0
    padding 0
    color dark
    background-color light
    font-family -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

main
    padding 2rem
    margin 0 auto
    max-width 700px

footer
    padding 2rem
    user-select none
    text-align center

section
    width 100%
    height 100vh

pre
    overflow auto
    padding 0.5rem
    border-radius 0.25rem
    background-color light-alt

select
    -webkit-appearance none

button, select, textarea, input[type=submit], input[type=button], input[type=text], input[type=search], input[type=password], input[type=date]
    border none
    padding 0.5rem
    font-family inherit
    border-radius 0.25rem

select, textarea, input[type=text], input[type=search], input[type=password], input[type=date]
    color dark
    background-color light-alt

    &::selection
        background-color light

button, input[type=submit], input[type=button]
    color light
    cursor pointer
    user-select none
    background-color dark

    &:hover
        opacity 0.5

    &:active
        opacity 1

a
    &, &:visited
        color inherit

    &:visited
        opacity 0.9

    &:hover
        color light
        background-color dark
        text-decoration-color dark
